/* Table Contents
1. HTML root Properties 
2 (a). Header Properties
2 (b). Header Propertes additional styling, animation
3 (a). Body Properties
3 (b). Body Propertes additional styling, animation
4 (a). Footer Properties
4 (b). Footer Propertes additional styling, animation
4 (c). Footer: Mobile responsivness media query  */

/* 1. HTML root Properties  */
/* applied to reset the CSS file */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color: #c0BBB2 ;
}


/* 2 (a). Header Properties */
/* container properties for navbar */
a {
    color: #21313b;
    text-decoration: none;
}

/* As per wireframe strategy I wanted to add a buffer from the top  of the browser to the header.container  */
.header-buffer {
    height: 25px;
}

/* 3 (a). Body Properties */

.body-buffer1 {
    margin: 110px;  
}
.body-buffer2 {
    margin: 170px;  
}
.body-buffer3 {
    margin: 7vh;  
}
h1 {
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-image{
    border-radius: 315px;
    opacity: 50%;
}

.header-image:hover{
    border-radius: 315px;
    opacity: 100%;
    cursor:crosshair ;

}
.workBuffer {
    padding-top: 10vh;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5f5d5a;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}

section::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#91B2C7;
    clip-path: circle(65% at 100% -20%);
}

section::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(77, 47, 102, 0.623);
    clip-path: circle(35% at 0% 100%);
}
.container {
    position: relative;
    z-index: 10;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.container .card {
    position: relative;  
    width: 400px;
    height: 500px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    backdrop-filter: blur(15px);
}


.container .card .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx{
    transform: translateY(-100px);
}
.container .card .imgBx img{
    max-width:20vw;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    
}

/*applying rotate transformation and scale style fucntion to the project images and only activated on hover  */
.container .card:hover .imgBx #wd_projectLink0 {
transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
}
    .container .card:hover .imgBx  #wd_projectLink1 {
        transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
        }
        .container .card:hover .imgBx  #wd_projectLink2 {
            transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
            }
            .container .card:hover .imgBx  #wd_projectLink3 {
                transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                }
                .container .card:hover .imgBx  #anim_projectLink0 {
                    transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                    }
                    .container .card:hover .imgBx  #anim_projectLink1 {
                        transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                        }
                        .container .card:hover .imgBx  #anim_projectLink2 {
                            transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                            }
                            .container .card:hover .imgBx  #vfx_projectLink0 {
                                transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                                }
                                .container .card:hover .imgBx  #vfx_projectLink1 {
                                    transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                                    }
                                    .container .card:hover .imgBx  #vfx_projectLink2 {
                                        transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
                                        }

.container .card .imgBx h4 {
    color: rgb(255, 255, 255) ;
    font-weight: 500;
}

.container .card .content{
    /* position: absolute; */
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content{
    opacity: 1;
    visibility: visible;
    transform:translateY(-50px); 
}
.container .card .content .github,
.container .card .content .logline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px ;
}

.container .card .content .github h5,
.container .card .content .logline  h5  {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .content .logline {
    width: 500px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
    color: white
}

#mtb3_font {
    font-size: 17pt;
}

/* 4 (a). Footer Properties */
/* buffer for column 1 bootstrap properties in the Contact container */

.contactrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
}

.contactBuffer {
    padding-left: 25vw;
} 

.footer_buffer {
    margin-bottom: 5vh;
}


/* 4 (b). Footer Propertes additional styling, animation */
/* need to set original color for the hover function to work below */
img .social-icon{
    color: rgba(77, 47, 102, 0.623);
    transition: color 0.2s;
    width: 2px;
    height: 2px;  
    margin: 1.5rem;
}

/*  */
.social-icon:hover {
    color: #21313b;
}

.fa-file {
    color: rgb(0, 0, 0);
    transition: color 0.2s;
    width: 50px;
    height: 50px;
}

/* 4 (c). Footer: Mobile responsivness media query  */

@media screen and (max-width: 768px){
    .contactrow{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-right: 30px;
    }
}
@media screen and (max-width: 768px){
        .body-buffer{
        margin: 5px; 
    }
}

