/* Table Contents
1. HTML root Properties 
2 (a). Header Properties
2 (b). Header Propertes additional styling, animation
3 (a). Body Properties
3 (b). Body Propertes additional styling, animation
4 (a). Footer Properties
4 (b). Footer Propertes additional styling, animation
4 (c). Footer: Mobile responsivness media query  */

/* 1. HTML root Properties  */
/* applied to reset the CSS file */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color: #232323 ;
}


/* 2 (a). Header Properties */
/* container properties for navbar */
nav {
    color: rgb(146, 21, 21);

}

/* As per wireframe strategy I wanted to add a buffer from the top  of the browser to the header.container  */
.header-buffer {
    height: 25px;
}

/* 3 (a). Body Properties */

.body-buffer1 {
    margin: 110px;  
}
.body-buffer2 {
    margin: 170px;  
}
.body-buffer3 {
    margin: 70vh;  
}
h1 {
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-image{
    border-radius: 315px;
    opacity: 50%;
}

.header-image:hover{
    border-radius: 315px;
    opacity: 100%;
    cursor:crosshair ;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}

section::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(146, 21, 21);
    clip-path: circle(65% at 100% -20%);
}

section::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(21, 96, 146);
    clip-path: circle(35% at 0% 100%);
}
.container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;  
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    backdrop-filter: blur(15px);
}


.container .card .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx{
    transform: translateY(-100px);
}
.container .card .imgBx img{
    max-width: 50vw;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    
}

.container .card:hover .imgBx img {
transform: translate(-20px,-40px) rotate(-25deg) scale(1.2);
}

.container .card .imgBx h4 {
    color: rgb(255, 255, 255) ;
    font-weight: 500;
}

.container .card .content{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.container .card .content .github {
    display: flex;
    justify-content: center;
    align-items: center;
}